body {
  color: rgba(192, 202, 245, 1.0);
  background-color: Black;
  font-family: cantarell,liberation,arial,helvetica,sans-serif
}

a:link {
  color: rgba(12, 180, 192, 1.0);
  text-decoration: none;
}

a:visited {
  color: rgba(255, 192, 203, 1.0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-left: 30px;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 10px;
}
