body {
  color: rgba(220, 215, 186, 1.0);
  background-color: Black;
}

a:link {
  color: rgba(152, 187, 108, 1.0);
  text-decoration: none;
}

a:visited {
  color: rgba(184, 144, 182, 1.0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-left: 30px;
}

table {
  width: 100%;
}

td {
  vertical-align: top;
  padding: 10px;
}

